## Análisis y Visualizción - Mentoría

In [2]:
import pandas as pd

dt = pd.read_csv('../dataset/data_review.csv')

### Conociendo como está formado el dataset

In [4]:
# Poder investigar rápidamente el tipo de datos con los que vamos a trabajar
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
rating    100000 non-null int64
title     99999 non-null object
review    100000 non-null object
target    93225 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.1+ MB

In [3]:
# Tomamos contacto con los primeros datos.
dt.head()

,rating,title,review,target
0,5,.............Am I in Midgard anymore ?,I was so disappointed to find she has not writ...,1.0
1,1,Zip wax new formula is just horrible.,I've been using zip wax for many years. It was...,0.0
2,5,Apatow's Depth Triumphs,I am a stand-up fanatic. I enjoy the alternati...,1.0
3,1,Dream of C.,It is to bad such talented illustrations are i...,0.0
4,1,it doesnt suck.,this product doesnt vaccum out the air I was d...,0.0

### Desarrollo de ejercicios